body {
    padding: 0;
    margin: 0;
}

#carousel {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 5px solid #444;
    border-radius: 3px;
    overflow: hidden;
}

#carousel ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 3000px;
}

#carousel ul li {
    width: 500px;
    height: 400px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: left;
}

.arrow-left {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 2%;
    width: 50px;
    z-index: 10;
    line-height: 3.6em;
    font-weight: 100;
}

.arrow-right {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 95%;
    z-index: 10;
    line-height: 3.6em;
    font-weight: 100;
}

.circle1 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 92%;
    left: 40%;
}

.circle2 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 92%;
    left: 45%;
}

.circle3 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 92%;
    left: 50%;
}

.circle4 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 92%;
    left: 55%;
}

.circle5 {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 10;
    top: 92%;
    left: 60%;
}